# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env
.vscode/
data/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.swo

# Doccano related files
*.session # Telethon session files
db.sqlite3
media/