telethon>=1.27
python-jsonlines>=1.2.0
doccano>=1.8.0
transformers
datasets
seqeval
accelerate
evaluate
torch # PyTorch is the backend for most Hugging Face models
lime
shap
pandas # Explicitly include as it's used in scorecard
numpy 